@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "IBM Plex Sans", sans-serif, "system-ui";
}
body.dialog-open {
    pointer-events: none;
}
body.dialog-open::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    background: rgba(0, 0, 0, 0.4);
}
button:disabled {
    cursor: not-allowed !important;
}
/* .filetab {
  scrollbar-width: none;
}

.filetab::-webkit-scrollbar {
  display: none;
}

.filetab:hover {
  scrollbar-width: thin;
}

.filetab:hover::-webkit-scrollbar {
  display: block;
}

.filetab::-webkit-scrollbar {
  height: 8px;
}

.filetab::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}  */
/* .folder-container .actions-container {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.folder-container:hover .actions-container {
  opacity: 1;
} */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
